body {
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header {
    background-color: burlywood;
    color: white;
}

#navbar{
    background-color:#444;
    color:white;
}

#navbar ul{
    padding:0;
    list-style:none;
}

#navbar li{
    display:inline;
}

#navbar a{
    color:white;
    text-decoration:none;
    font-size:16px;
    padding-right:15px;
}

#showcase{
    background-image:url("../images/brown.jpeg");
    background-position:top center;
    min-height:200px;
    margin-bottom:30px;
    text-align:center;
}

#showcase{
    color:white;
    font-size:40px;
    line-height:1.5em;
    padding-top:30px;
}

#main{
    float:left;
    width:70%;
    padding:0 30px;
    box-sizing:border-box;
}

#side-bar{
    float:right;
    width:30%;
    background-color:#444;
    color:white;
    padding:10px;
    box-sizing:border-box;
}

#main-footer{
    background-color:#444;
    color:white;
    text-align:center;
    padding:10px;
    margin-top:40px;
}

@media(max-width:600px){
    #main{
        width:100%;
        float:none;
    }
    #side-bar{
        width:100%;
        float:none;
    }
}